.nav {
  width: 100%;
  border-bottom: 3px solid #bbbbbb;
}
.list {
  list-style: none;
  display: flex;
}
.item {
   color: black;
}
.link {
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  transition: all linear 250ms;
  &:hover {
    background-color: grey;
  }
}

.link:global(.active) {
  color: red;
}
